h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(203, 71, 133);
        font-size: larger;
        background-color: rgb(167, 209, 69);
        text-align: center;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(129, 82, 173);
    background-color: rgb(167, 209, 69);
    text-align: center;
}