h1 {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(203, 71, 133);
        font-size: larger;
        background-color: rgb(189, 165, 115);
        text-align: center;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(129, 82, 173);
    background-color: rgb(167, 209, 69);
    text-align: center;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: bisque;
}